ссылка на github:
https://github.com/

# Анализ лояльности пользователей Яндекс Афиши с помощью Python

### Установка библиотек. Настройка подключения к БД. Основной запрос данных и датафрейм с курсом тенге

In [50]:
!pip install sqlalchemy
!pip install psycopg2

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: sqlalchemy in c:\programdata\anaconda3\lib\site-packages (2.0.34)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\programdata\anaconda3\lib\site-packages (from sqlalchemy) (4.11.0)
Requirement already satisfied: greenlet!=0.4.17 in c:\programdata\anaconda3\lib\site-packages (from sqlalchemy) (3.0.1)
Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: psycopg2 in c:\users\maxim\appdata\roaming\python\python312\site-packages (2.9.11)

In [36]:
import pandas as pd
from sqlalchemy import create_engine

In [37]:
db_config = {'user': 'praktikum_student', # имя пользователя
             'pwd': 'Sdf4$2;d-d30pp', # пароль
             'host': 'rc1b-wcoijxj3yxfsf3fs.mdb.yandexcloud.net',
             'port': 6432, # порт подключения
             'db': 'data-analyst-afisha' # название базы данных
             }

In [38]:
connection_string = 'postgresql://{}:{}@{}:{}/{}'.format(
    db_config['user'],
    db_config['pwd'],
    db_config['host'],
    db_config['port'],
    db_config['db'],
)

In [39]:
engine = create_engine(connection_string)

In [44]:
query = '''
SELECT 
	p.user_id, p.device_type_canonical,	p.order_id, p.created_dt_msk::date order_dt, p.created_ts_msk order_ts, p.currency_code, p.revenue, p.tickets_count,
	EXTRACT (DAY FROM p.created_dt_msk - lag(p.created_dt_msk) over(PARTITION BY p.user_id ORDER BY p.created_dt_msk)) days_since_prev,
	p.event_id, e.event_name_code event_name, p.service_name, e.event_type_main, r.region_name, c.city_name
FROM afisha.purchases p JOIN afisha.events e using(event_id) JOIN afisha.city c using(city_id) JOIN afisha.regions r using(region_id)
WHERE device_type_canonical IN ('mobile','desktop') 
	AND event_type_main <> 'фильм'
ORDER BY user_id;
'''

In [47]:
df = pd.read_sql_query(query, con=engine)

In [55]:
df.info()
print(df)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 290611 entries, 0 to 290610
Data columns (total 15 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   user_id                290611 non-null  object
 1   device_type_canonical  290611 non-null  object
 2   order_id               290611 non-null  int64
 3   order_dt               290611 non-null  object
 4   order_ts               290611 non-null  datetime64[ns]
 5   currency_code          290611 non-null  object
 6   revenue                290611 non-null  float64
 7   tickets_count          290611 non-null  int64
 8   days_since_prev        268678 non-null  float64
 9   event_id               290611 non-null  int64
 10  event_name             290611 non-null  object
 11  service_name           290611 non-null  object
 12  event_type_main        290611 non-null  object
 13  region_name            290611 non-null  object
 14  city_name              290611 non-null  object
dtypes: datetime64[ns](1), float64(2), int64(3), object(9)
memory usage: 33.3+ MB
                user_id device_type_canonical  order_id    order_dt  \
0       0002849b70a3ce2                mobile   4359165  2024-08-20
1       0005ca5e93f2cf4                mobile   7965605  2024-07-23
2       0005ca5e93f2cf4                mobile   7292370  2024-10-06
3       000898990054619                mobile   1139875  2024-07-13
4       000898990054619                mobile    972400  2024-10-04
...                 ...                   ...       ...         ...
290606  fffcd3dde79eb2c                mobile    368562  2024-10-27
290607  fffcd3dde79eb2c                mobile    368591  2024-10-27
290608  fffcd3dde79eb2c               desktop   8473772  2024-10-30
290609  fffeeb3c120cf0b               desktop   5526067  2024-09-24
290610  ffff00725179321                mobile    813654  2024-09-25

                  order_ts currency_code  revenue  tickets_count  \
0      2024-08-20 16:08:03           rub  1521.94              4
1      2024-07-23 18:36:24           rub   289.45              2
2      2024-10-06 13:56:02           rub  1258.57              4
3      2024-07-13 19:40:48           rub     8.49              2
4      2024-10-04 22:33:15           rub  1390.41              3
...                    ...           ...      ...            ...
290606 2024-10-27 17:53:53           rub  1448.36              6
290607 2024-10-27 17:54:52           rub   965.57              4
290608 2024-10-30 13:37:43           rub   178.95              2
290609 2024-09-24 10:07:42           rub   661.53              2
290610 2024-09-25 15:12:40           rub   802.25              2

        days_since_prev  event_id                            event_name  \
0                   NaN    169230  f0f7b271-04eb-4af6-bcb8-8f05cf46d6ad
1                   NaN    237325  40efeb04-81b7-4135-b41f-708ff00cc64c
2                  75.0    578454  01f3fb7b-ed07-4f94-b1d3-9a2e1ee5a8ca
3                   NaN    387271  2f638715-8844-466c-b43f-378a627c419f
4                  83.0    509453  10d805d3-9809-4d8a-834e-225b7d03f95d
...                 ...       ...                                   ...
290606              0.0     33189  e3dcdb45-9eaa-4ce4-9b85-1562e548172e
290607              0.0     33189  e3dcdb45-9eaa-4ce4-9b85-1562e548172e
290608              3.0    205231  74883818-57a6-494a-b162-bb0260877cbf
290609              NaN    454526  6f4c6a50-0106-407b-8f54-332c740b01da
290610              NaN    284965  58574140-962c-49a3-af70-b773a05661a3

              service_name event_type_main           region_name    city_name
0             Край билетов           театр    Каменевский регион   Глиногорск
1                Мой билет        выставки    Каменевский регион   Глиногорск
2              За билетом!          другое    Каменевский регион   Глиногорск
3              Лови билет!          другое  Североярская область       Озёрск
4       Билеты без проблем         стендап      Озернинский край  Родниковецк
...                    ...             ...                   ...          ...
290606      Весь в билетах          другое    Каменевский регион   Глиногорск
290607      Весь в билетах          другое    Каменевский регион   Глиногорск
290608           Прачечная           театр    Каменевский регион   Глиногорск
290609  Билеты без проблем         стендап   Широковская область   Ягодиновка
290610           Мой билет        концерты  Малиновоярский округ    Верховино

[290611 rows x 15 columns]

In [52]:
tenge = pd.read_csv('https://code.s3.yandex.net/datasets/final_tickets_tenge_df.csv')

In [54]:
tenge.info()
print(tenge)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 357 entries, 0 to 356
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   data     357 non-null    object
 1   nominal  357 non-null    int64
 2   curs     357 non-null    float64
 3   cdx      357 non-null    object
dtypes: float64(1), int64(1), object(2)
memory usage: 11.3+ KB
           data  nominal     curs  cdx
0    2024-01-10      100  19.9391  kzt
1    2024-01-11      100  19.7255  kzt
2    2024-01-12      100  19.5839  kzt
3    2024-01-13      100  19.4501  kzt
4    2024-01-14      100  19.4501  kzt
..          ...      ...      ...  ...
352  2024-12-27      100  19.2705  kzt
353  2024-12-28      100  19.5105  kzt
354  2024-12-29      100  19.4860  kzt
355  2024-12-30      100  19.4860  kzt
356  2024-12-31      100  19.4860  kzt

[357 rows x 4 columns]